* {
  box-sizing: border-box;
}
.column{
  margin-top: 52px; /*this determines how far down the 3 columns are from the top */
}
.left {
  width: 24%;
  height:100%;
}
.right {
  width: 24%;
  height:100%;
}
.middle{
  width: 50%;
  height:100%;
  top: 85px;
}
/* .row:after {
  content: "";
  display: table;
  clear: both;
} */
.feedContainer{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 3px;
  height: 750px;
  width: 100%; 
  flex-wrap: wrap; /* wrap overflowing to line below */
  justify-content: space-around;
  /* padding: 20px; */
  background-color: rgba(255, 255, 255, 0.788);
}
h2{
  padding: 5px 10px;
  text-align: left;
}