ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(218, 10, 10);
}
li{
  float: left;
}
li a{
  display: block;
  color: white !important; 
  text-align: center;
  padding: 14px 16px; /*  down and over*/ 
  text-decoration: none !important;
}

li a:hover{
  background-color: rgb(255, 23, 15) !important;
}
.active{
  background-color: rgb(28, 13, 110) !important;
}
.active:hover{
  background-color: rgb(32, 11, 156) !important;
}